@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ClassTree</title>
    <link href="~/css/output.css" rel="stylesheet" />
    <style>
        .custom-bg {
            background-color: #1c1134; /* Egyedi háttérszín */
        }

        .custom-text {
            color: #ffffff; /* Egyedi szövegszín */
        }

        .hover-custom-bg:hover {
            background-color: #1c1134; /* Hover állapotban egyedi háttérszín */
        }

        .hover-custom-text:hover {
            color: #ffffff; /* Hover állapotban egyedi szövegszín */
        }

        .hidden {
            display: none;
        }

        .tab {
            cursor: pointer;
        }
        .active {
            background-color:grey;
        }
    </style>
</head>
<body class="bg-gray-900 text-white">
    <header class="custom-bg p-4">
        <nav class="flex justify-between items-center">
            <div>
                <span class="text-xl font-bold">osztályfa</span>
                <span class="text-sm">∘∘</span>
            </div>
            <div class="flex space-x-4" id="mainCategoriesContainer">
                @await Component.InvokeAsync("CTMainCategories", new { selectedRootName = @Model.RootFolderName })
            </div>
            <div class="flex space-x-4" id="subCategoriesContainer">
                @await Component.InvokeAsync("CTSubCategories", new { selectedRootName = @Model.RootFolderName, selectedSubRootName = @Model.SubFolderName })
            </div>
            <div class="flex space-x-4">
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </li>
                    </ul>
                }
                else
                {
                    <partial name="_LoginPartial" />
                }
            </div>
        </nav>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" id="jsonFile" name="jsonFile" accept=".json" required />
                <button type="submit">Upload</button>
            </form>
        }
    </header>

    <main class="p-4" id="folderContainer">
        @RenderBody()
    </main>

    <!-- Modal Structure -->
    <div id="modal" class="fixed z-50 inset-0 overflow-y-auto hidden h-screen p-12">
        <div class="absolute left-0 top-0 h-full w-full bg-black bg-opacity-75 cursor-pointer" onclick="minimizeModal()"></div>
        <div class="bg-white rounded-lg text-left shadow-xl transform transition-all h-full w-fullead rounded shadow-xl">
            <div class="bg-gray-900 p-4 flex justify-between items-center" style="height:10%;">
                <div id="tabs" class="flex space-x-4">
                    <!-- Tabs will be inserted here dynamically -->
                </div>
                <div>
                    <button type="button" class="text-white" onclick="minimizeModal()">-</button>
                    <button type="button" class="text-white" onclick="closeModal()">✕</button>
                </div>
            </div>
            <div id="modalContent" class="p-4 overflow-scroll" style="height: 90%;">
                <!-- Content will be inserted here dynamically -->
            </div>
            <!-- Fly-in modal for creating a new method -->
            <div id="createMethodFlyIn" class="fixed inset-0 bg-gray-900 bg-opacity-75 hidden flex justify-center items-center z-50 text-black">
                <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
                    <input type="hidden" id="fileId" name="__FileId" value="" />
                    <input type="hidden" id="methodId" name="__MethodId" />

                    <h3 class="text-xl font-bold mb-4" id="modalTitle">Create New Method</h3>
                    <label for="methodName" class="block text-sm font-medium text-gray-700">Method Name</label>
                    <input type="text" id="methodName" class="w-full mt-2 mb-4 p-2 border rounded-md" placeholder="Enter method name">

                    <select id="newMethodStatus" class="ml-2 text-black">
                        <option value="New">New</option>
                        <option value="Modified">Modified</option>
                    </select>

                    <label class="block text-sm font-medium text-gray-700">Description</label>
                    <textarea id="description" class="w-full mt-2 mb-4 p-2 border rounded-md" rows="5" placeholder="Enter method description"></textarea>

                    <label for="methodCode" class="block text-sm font-medium text-gray-700">Code</label>
                    <textarea id="methodCode" class="w-full mt-2 mb-4 p-2 border rounded-md" rows="5" placeholder="Enter method code"></textarea>

                    <div class="flex justify-end">
                        <button class="bg-green-500 text-white px-4 py-2 rounded mr-2" id="saveMethodButton" 
                                onclick="createMethod().then(() => refreshContent()).catch(error => console.error('Error:', error))">
                            Create
                        </button>
                        <button class="bg-red-500 text-white px-4 py-2 rounded" onclick="closeCreateMethodForm()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Minimized Modal Button --> 
    <div id="minimizedModalButton" class="hidden fixed bottom-4 right-4">
        <button class="bg-gray-900 text-white p-2 rounded" onclick="restoreModal()">Open Modal</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/modal.js"></script>
    <script src="~/js/fileHandling.js"></script>
    <script src="~/js/methodHandling.js"></script>
    <script>
        //JSON UPLOAD
        document.getElementById('uploadForm').addEventListener('submit', async function (event) {
            event.preventDefault();

            const formData = new FormData();
            const fileInput = document.getElementById('jsonFile');
            formData.append('file', fileInput.files[0]);
            console.log(formData)

            try {
                const response = await fetch('/api/JsonUpload/Upload', {
                    method: 'POST',
                    body: formData
                });
                const result = await response.json();

                if (response.ok) {
                    location.reload();
                    console.log(result.message);
                } else {
                    document.getElementById('message').textContent = result.message || 'Error uploading file.';
                }
                // const result = await response.json();
                // console.log(result);
                // document.getElementById('message').textContent = result.message;

            } catch (error) {
                console.error('Error uploading file:', error);
                document.getElementById('message').textContent = 'Error uploading file.';
            }
        });
    </script>
</body>
</html>
