@model ShoperiaDocumentation.Models.FileContentViewModel

<div id="fileModalContent">
    <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold">@Model.FileName</h2>
        <button class="ml-2 bg-green-500 text-white px-2 py-1 rounded" onclick="showCreateMethodForm()">Create</button>
    </div>
    <div class="mt-4">
        @foreach (var method in Model.Methods)
        {
            <div class="mb-6">
                <h3 class="text-xl font-semibold @(method.Status == "New" ? "text-green-500" : "text-blue-500")">@method.Name</h3>
                <ul class="mt-2 list-disc list-inside">
                    @if (method.Descriptions != null)
                    {
                        @foreach (var description in method.Descriptions)
                        {
                            <li>@description</li>
                        }
                    }

                </ul>
                <button class="mt-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" onclick="openCodeWindow('@method.FullCode')">Kód megnyitása</button>
            </div>
        }
    </div>
</div>

<!-- Fly-in modal for creating a new method -->
<div id="createMethodFlyIn" class="fixed inset-0 bg-gray-900 bg-opacity-75 hidden flex justify-center items-center z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
        <input type="hidden" id="fileId" name="__FileId" value="@Model.FileId" />
        <h3 class="text-xl font-bold mb-4">Create New Method</h3>
        <label for="methodName" class="block text-sm font-medium text-gray-700">Method Name</label>
        <input type="text" id="methodName" class="w-full mt-2 mb-4 p-2 border rounded-md" placeholder="Enter method name">

        <select id="newMethodStatus" class="ml-2 text-black">
            <option value="New">New</option>
            <option value="Modified">Modified</option>
        </select>

        <label class="block text-sm font-medium text-gray-700">Description Points</label>
        <div id="descriptionContainer">
            <div class="description-item mb-2">
                <input type="text" class="w-full p-2 border rounded-md" placeholder="Enter description point">
            </div>
        </div>
        <button type="button" class="bg-blue-500 text-white px-2 py-1 rounded mb-4" onclick="addDescriptionPoint()">+ Add Description Point</button>

        <label for="methodCode" class="block text-sm font-medium text-gray-700">Code</label>
        <textarea id="methodCode" class="w-full mt-2 mb-4 p-2 border rounded-md" rows="5" placeholder="Enter method code"></textarea>

        <div class="flex justify-end">
            <button class="bg-green-500 text-white px-4 py-2 rounded mr-2" onclick="createMethod()">Create</button>
            <button class="bg-red-500 text-white px-4 py-2 rounded" onclick="closeCreateMethodForm()">Cancel</button>
        </div>
    </div>
</div>

