@model ShoperiaDocumentation.Models.FolderHierarchyViewModel

@{
    ViewData["Title"] = "ClassTree";
    Layout = "~/Views/Shared/_ClassTreeLayout.cshtml";

    string rootFolderName = !string.IsNullOrEmpty(Model.RootFolderName) ? $"{Model.RootFolderName}/" : string.Empty;
    string subFolderName = !string.IsNullOrEmpty(Model.SubFolderName) ? $"{Model.SubFolderName}/" : string.Empty;
    string remainingPath = !string.IsNullOrEmpty(Model.RemainingPath) ? $"{Model.RemainingPath}/" : string.Empty;
    var currentPath = string.Concat(rootFolderName, subFolderName, remainingPath);
}
<h1>@currentPath</h1>
<div class="flex justify-around py-8">
    <div class="w-1/3">
        <div class="space-y-4 mt-4">
            @if (Model.Folders != null)
            {
                foreach (var folder in Model.Folders)
                {
                    var newPath = string.Concat(currentPath, folder.Name);
                    <a href="@Url.Action("Index", "ClassTree", new { path = newPath })?.Replace("%2F", "/")" class="block p-4 rounded-lg text-center bg-gray-800 hover:bg-gray-700">
                        @folder.Name
                    </a>
                }
            }
            @if (Model.Files != null)
            {
                foreach (var file in Model.Files)
                {
                    var newPath = string.Concat(currentPath, file.Name);
                    <a href="@Url.Action("Index", "ClassTree", new { path = newPath })?.Replace("%2F", "/")"
                       class="block p-4 rounded-lg text-center bg-gray-800 hover:bg-gray-700 file-link"
                       data-file-id="@file.Id"
                       data-file-name="@file.Name">
                        @string.Concat(@file.Name, ".cs")
                    </a>
                }
            }

        </div>
    </div>
</div>
